@using C_4_Buoi1_MVC.Repositories;
@using C_4_Buoi1_MVC.Repositories.IService;
@using C_4_Buoi1_MVC.Repositories.Service;
@using C_4_Buoi1_MVC.ViewModel;
@using Microsoft.AspNetCore.Http
@using System.Security.Claims;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "ADMIN,STAFF,USER")]

@inject IHttpContextAccessor HttpContextAccessor
@inject ICartDetailService CartDetail
@{
   var userinfo = HttpContextAccessor.HttpContext.Session.GetObject<GoogleUserInfoVM>("UserLogin");
   var user = HttpContextAccessor.HttpContext.Session.GetObject<User>("user"); 
   var cartDetails = CartDetail.GetAll().Where(c=>c.IdUser == user.Id).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C_4_Buoi1_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/C_4_Buoi1_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

</head>
<body>
       <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="GetListView" asp-action="Product">
                    <img src="~/image/screenshot 2023-03-10 180115.png" width="50px;"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="font-weight: 500;font-size: larger;" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="GetListView"><i class="fa-solid fa-house"></i> Trang chủ</a>
                        </li>
                         @*<AuthorizeView Roles="ADMIN">
                            <Authorized>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Manager"><i class="fa-solid fa-list-check"></i> Quản lý sản phẩm</a>
                                </li>
                            </Authorized>
                        </AuthorizeView>*@
                        @if (User.IsInRole("ADMIN") || User.IsInRole("STAFF"))
                        {
                             <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Manager"> Quản lý sản phẩm</a>
                            </li>             
                        }
                        @if (User.IsInRole("ADMIN"))
                        {
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="RoleForUser" asp-action="ManagerRoleUser"> Phân quyền</a>
                            </li>
                        }
                    </ul>
                </div>  
                <div style="margin-right: 20px;"> 
                   <h4> 
                        <a asp-area=""  asp-controller="AddCart" asp-action="GetCartDetails" asp-route-iduser="@user.Id" title="Giỏ hàng" style="margin: 0 20px;">
                            <div class="cart-icon">
                                <span style="font-size: x-small;top: auto;display: block; bottom: auto;">@cartDetails.Count</span>
                            </div>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                   
                       <a title="Lịch sử" asp-area="" asp-controller="BuyDetail" asp-action="GetAll" asp-route-iduser="@user.Id" >
                            <i class="fa-solid fa-clock-rotate-left"></i>
                       </a>
                   </h4>
                   
                </div>
                <div class="row col-2">
                    <div class="col-1"></div>
                    <img class="col-2" style="margin-top: 10px; padding: 0; border-radius: 50px; width: 15%; height: 15%;" src="@userinfo.Picture" />
                    <div class="col-9">
                        <b>@userinfo.GivenName</b>
                        <div style="font-size: x-small;">Email: @userinfo.Email</div>
                        <a type="button" id="Logout" style="text-decoration:none; font-size: small;" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
     
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">NVTShop.com</a>
  </div>
  <!-- Copyright -->
</footer>

<!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>