@using C_4_Buoi1_MVC.ViewModel;
@using C_4_Buoi1_MVC.Component;
@model ProductVM
@{
    byte[] bytes;
    string imageSrc;
    using (var memoryStream = new MemoryStream())
    {
        await Model.Image.CopyToAsync(memoryStream);
        bytes = memoryStream.ToArray();
        imageSrc = $"data:{Model.Image.ContentType};base64,{Convert.ToBase64String(bytes)}";
    }
}
@if (Model != null)
{
    <div class="box-shadow-custom p-3 mb-5 rounded mt-5">
    <form asp-controller="Product" asp-action="UpdateSp" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Id">
        <h2 style="text-align: center; margin-bottom: 30px;">Cập nhật sản phẩm</h2>
        <div class="row">
            <div class="col-3">
                
                <img id="preview" alt=""style="height:280px;width:300px;margin-bottom: 10px;"src="@imageSrc" />

                <input class="form-control" asp-for="Image" type="file" onchange="previewImage(this);" />                   
                <span asp-validation-for="@Model.Image" class="text-danger"></span>
            </div>
            <div class="col-9 row">
                <div class="col-6" style="padding: 10px;">
                       
                    <div class="form-floating mb-3">
                        <input maxlength="20" type="text" class="form-control" asp-for="Name" >
                        <label for="tieude">Tên sản phẩm</label>
                        <span asp-validation-for="@Model.Name" class="text-danger"  ></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input min="0" type="number" class="form-control" asp-for="Price">
                        <label for="floatingInput">Giá bán</label>
                        <span asp-validation-for="@Model.Price" class="text-danger"  ></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input min="0" type="number" class="form-control" asp-for="AvailbleQuantity" >
                        <label for="ngaypt">Số lượng</label>
                        <span asp-validation-for="@Model.AvailbleQuantity" class="text-danger"  ></span>
                    </div>                       
                </div>

                <div class="col-6" style="padding: 10px;">   
                    <div class="form-floating mb-3">
                        <input maxlength="50" type="text" class="form-control" asp-for="Supplier" >
                        <label for="thongtincb">Nhà cung cấp</label>
                        <span asp-validation-for="@Model.Supplier" class="text-danger"  ></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" asp-for="Status" >
                            <option value="0" selected>Hoạt động</option>
                            <option value="1">Đang cập nhật</option>
                        </select>
                        <label for="loai">Trạng thái</label>
                        <span asp-validation-for="@Model.Status" class="text-danger"  ></span>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea maxlength="200" style="max-height: 200px;" class="form-control" asp-for="Description"rows="3" ></textarea>
                        <label for="tomtat">Mô tả</label>
                        <span asp-validation-for="@Model.Description" class="text-danger"  ></span>
                    </div>

                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Cập nhật</button>
                    <a asp-controller="Product" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-secondary"><i class="fa-solid fa-rotate-right"></i> Khôi phục</a>
                </div>

            </div>
        </div>
    </form>
    </div>
}
else
{
    <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
	<circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
	<circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
	<circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
	<circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
    </svg>  
}

